@model WebUI.Models.BlogModels.PostModel

<h1>Change rendering partial view From _PostPartial to PostInfo</h1>

@*<style>
    .post
    {
        table-layout: fixed;
        width: 100%;
    }
</style>

<div class="well">
    <table class="table-bordered post" >
        <tr>
            <th>@Model.Author <br /> @Model.Date</th>
            <th colspan="3"><h2>@Model.Title</h2></th>
            <div class="formg"></div>
        </tr>
        <tr>
            <td colspan="4">@Model.Body</td>
        </tr>
        <tr>
            <td colspan="4">
                @Html.Partial("_MakeCommentPartial", Model.Id)
                @foreach (var comment in Model.Comments)
                {
                    @Html.Partial("_CommentPartial", comment)
                }
            </td> 
        </tr>
    </table>
</div>*@
-----------------------------------------------------------------------
@*<div class="post">
    <div class="row">
        <div class="col-sm-2 text-left">
            @Model.Author <br /> @Model.Date
        </div>
        <div class="col-sm-2 text-center">
            @Model.Title
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            @Model.Body
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 text-right">
            @foreach(var comment in Model.Comments)
            {
                @Html.Partial("_CommentPartial", comment)
            }
        </div>
    </div>
</div>*@