@model BusinessLayer.BusinessModelsDTO.PostDTO

@{
    ViewBag.Title = "Post " + Model.PostId;
}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="title">@Model.Title</h1>
            @if (User.Identity.Name == Model.Author)
            {
                using (Html.BeginForm("DeletePost", "Blog", FormMethod.Post, new { @class = "navbar-right delete-form" }))
                {
                    <input type="hidden" name="id" value="@Model.PostId"/>
                    <button type="submit" value="Delete" class="btn btn-primary">Delete post</button>
                }
            }
            @*@Html.ActionLink("Delete", "DeletePost", new { id = Model.Id }, new { @class = "pull-right delete-link" })*@
            <p class="author">
                Posted by <a href="#">@Model.Author</a> on @Model.Date
            </p>
            <hr />
            <div class="post-body">
                <p>@Model.Body</p>
            </div>
            <hr />
            <!--Comment form-->
            @Html.Partial("_MakeCommentPartial", Model.PostId)
            <!--Comments-->
            @foreach (var comment in Model.Comments)
            {
                @Html.Partial("_CommentPartial", comment)
            }
        </div>
    </div>
</div>